*.l[oa]
*.[oa]
.deps/
.libs/
/httpd-accfilt
/httpd-nofilt
ev/Makefile
ev/Makefile.in
ev/aclocal.m4
ev/autom4te.cache/
ev/config.guess
ev/config.h
ev/config.h.in
ev/config.log
ev/config.status
ev/config.sub
ev/configure
ev/depcomp
ev/install-sh
ev/libtool
ev/ltmain.sh
ev/missing
ev/stamp-h1
